@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1 {
    color: green;
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-stretch: wider;
}

h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}